body {
    margin: 0;
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}

#part1, #part7 {
    height: 10%;
    margin: 0;
}

#part2, #part3, #part4, #part5, #part6{
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
}

#part3 {
    margin: 0;
    padding: 5%;
    background-image: url("../asset/img/marketing-bg6.png");
}

.card-box {
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    position: relative;
    margin: 2%;
    width: 300px;
    height: 350px;
    background-color: blueviolet;
    overflow: hidden;
    transition: transform 0.5s;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    background-size:auto 100%;
    text-decoration: none;
}

.card:nth-child(even) {
    top: 100px;
    margin-bottom: 100px;
}

.card:hover {
    transform: translate(0, -50px);
}

.filter {
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    transition: background-color 0.25s;
}

.filter:hover {
    background-color: rgba(0,0,0,0.05);
}

.card-img {
    position: relative;
    width: 100%;
    height: 100%;
    background-size:auto 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card-img h1 {
    margin-bottom: 10%;
    color: white;
}

.card-img h1:visited {
    text-decoration: none;
    
}

#Team {
    background-image: url("../asset/img/team.jpg");
    background-position-x: 50%;
    background-size: 150%;

}

#profile{
    background-image: url("../asset/img/profile.jpg");
    background-position-x: 50%;
}

#DataC  {
    background-image: url("../asset/img/bigbrains.jpg");
    background-position-x: 50%;
}

#createDataC  {
    background-image: url("../asset/img/createDataC.jpg");
    background-position-x: 50%;
}

#accueilNC {
    background-image: url("../asset/img/IMG20210808093633-scaled.jpg");
    background-position-x: 50%;
}

#setManager {
    background-image: url('../asset/img/artenot110100030.jpg');
    background-position-x: 40%
}

#setChallenge {
    background-image: url("../asset/img/gereChallenge.jpg");
    background-position-x: 40%;
}

#setMyChallenge {
    background-image: url("../asset/img/myChallenges.jpg");
    background-position-x: 60%;
}

#setTeam {
    background-image: url("../asset/img/setTeam.jpg");
    background-position-x: center;
}