#dataPage{
    
    margin-top: 100px;
}

/*#formeZ01 {
    height: 100px;
    width: 100%;
    background-color: red;
    clip-path: ellipse();
}*/

#Z0DP {
    color: white;
    font-size: 75px;
    padding: 50px;
    background-color: #0e8769;
    background-image: url("/asset/img/background.png");
    text-align: center;
    border-bottom-right-radius: 50%;
}


#img-dataPage {
    margin-right: 10%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 5px 5px grey;
}


#Z1DP {
    position: relative;
    bottom: 50px;
    align-items: center;
    text-align: justify;
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    
    
}

#Z2DP {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 100px;
}


.main-desc {
    width: 87%;
    margin: 0 auto;
    text-align: justify;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    padding-left: 3%;
}

.main-desc h2 {
    align-self: flex-start;
}

.subject {
    margin: 2%;
    width: 95%;
    background-color: gray;
}

.inscription {
    position: relative;
    width: 90%;
    min-height: 10vh;
    margin: 0 auto;
    background-color: yellow;
}

.inscription button {
    position: absolute;
    right: 10%;
    padding: 2%;
    border-radius: 50px;
    background-color: rgb(59, 132, 192);
    color: white;
    transition: all 0.15s ease-in-out;
    font-size: x-large;
}

.inscription button:hover {
    background-color: rgba(39, 115, 177);
    cursor: pointer;
}

.inscription button:active {
    background-color: rgba(28, 111, 179);
    scale: 0.95;
}