
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #0e8769;
    height: 150px; 
    width: 100%;
}

#contenairF {
    margin-left: 30%;
    margin-right: 30%;
    
    width: 100%;
}

#contenairF a{
    color: white;
    text-decoration: none;
}

.mid {
    padding-bottom: 15px;
    margin-right: 20px;
    padding-bottom: 0;
}

