body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

#part3Profil {
    margin: 0;
    padding: 5%;
    background-image: url("/asset/img/istockphoto-1224100497-612x612.jpg");
    background-size: 100%;
    
}

.sign-box {
    margin: 0 auto;
    min-width: 481px;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 10px 5px 5px grey;
}

.sign-box form {
    width: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
}

.sign-box form input {
    position: relative;
    padding-left: 15px;
    margin: 50px;
    background-position: 50%;
    background-size: cover;
    color: #666;
    line-height: 1.7em;
    font-weight: 500;
    width: 100%;
    height: 58px;
    border: 1px solid #e0e0e0;
}

.sign-box form input:focus {
    color: black;
    border-color: #e0e0e0;
}

.sign-box form p{
    text-align: justify;

}