body{
    margin: 0;
    padding: 0;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(100deg, #0e8769 0%, #0c71c3 100%) !important;
}

.main {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 27px 0;
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
}

.box-left{
    margin: 0 auto;
    min-width: 481px;
    background-color: white;
}

.sign-box {
    margin: 0 auto;
    min-width: 481px;
    height: fit-content;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.sign-box form {
    width: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-box form input {
    position: relative;
    margin-bottom: 3%;
    padding: 0 0 0 3%;
    background-position: 50%;
    background-size: cover;
    color: #666;
    line-height: 1.7em;
    font-weight: 500;
    width: 100%;
    height: 58px;
    border: 1px solid #e0e0e0;
}

.sign-box form input:focus {
    color: black;
    border-color: #e0e0e0;
}
