body{
    margin: 0;
    padding: 0;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(100deg, #0e8769 0%, #0c71c3 100%) !important;
}

.main {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    margin-bottom: -75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 27px 0;
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
}

.box-left{
    margin: 0 auto;
    padding: 2% 2% 2% 2%;
    min-width: 481px;
    background-color: white;
    margin-bottom: 25px;
}

.sign-box {
    margin: 0 auto;
    min-width: 481px;
    height: fit-content;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.sign-box form {
    width: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-box form input {
    position: relative;
    padding: 0 0 0 0;
    background-position: 50%;
    background-size: cover;
    color: #666;
    line-height: 1.7em;
    font-weight: 500;
    width: 100%;
    height: 58px;
    border: 1px solid #e0e0e0;
}

.sign-box form input:focus {
    color: black;
    border-color: #e0e0e0;
}

.sign-box form input {
    padding-left: 20px;
    border-radius: 4px;
}

.error-msg {
    position: relative;
    width: 100%;
    height: 20px;
    color: red;
    font-size: 12px;
    margin-bottom: 2%;
}

.message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.message a {
    color: #0693e3;
    text-decoration: none;
}

.radioTeam {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

#createGroup {
    width: 25px;
    margin-right: 15px;
}

#nameCreateGroupe {
    position: relative;
    top : 20px;
}